<div class="container">
  <ul class="nav nav-tabs">
      <h5 class="name">JACKSON JOSEPH REY GALINDO</h5>
      <li class="nav-item">
        <a class="nav-link" routerLink="/person" routerLinkActive="active">
          <span class="material-icons iconStyle">list</span> 
          Person list
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/person/add" routerLinkActive="active">
          <span class="material-icons iconStyle">add</span> 
          Person Add</a>
      </li>
    </ul>
  </div>