<app-navegation></app-navegation>
<div class="container">
    <div id="list">
        <h3 class="title">Form add person</h3>
    </div>


    <div class="col-md-6 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="title" placeholder="Name" [(ngModel)] = 'person.C_NAME' class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" [(ngModel)] = 'person.C_EMAIL' class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="City" placeholder="City" [(ngModel)] = 'person.C_CITY' class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="Company" placeholder="Company" [(ngModel)] = 'person.C_COMPANY' class="form-control" >
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="Description" rows="2" placeholder="Description" [(ngModel)] = 'person.C_DESCRIPTION' class="form-control" ></textarea>
                    </div>
                    <button class="btn btn-success btn-block" (click) ="edit ? updatePerson() : savePerson()">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
